//Variables
$primary: #017BFF;
$secondary: rgb(180, 177, 177);
$tertiary: white;
$quaternary: black;

//Body
body{
    font-family: 'Roboto', sans-serif;
}

//Section6
#section6{
    background-color: $secondary; 
    #contourCalc{
        background-color: $quaternary; 
        width:27%;
        .btnCalc{ 
            background-color: $tertiary; 
            color: $quaternary;
        } 
        #btnPlus,#btnMoins,#btnMult,#btnDiv,#btnZero{
            background-color: $primary;
        }
        #btnEgal{
            background-color: green;
        }
        #btnC{
            background-color: rgb(236, 134, 151);
        }
        #result{ 
            background-color: $quaternary;
            color: $tertiary; 
            margin-left: 8%;
        } 
    } 
}
